/* JBZoo Subcategory */

.jbzoo-view-category .subcategories .subcategory .subcategory-image img{
	float: none;
	margin: 0;
	opacity: 1 !important;
}
.jbzoo-view-category .subcategories .subcategory .subcategory-image a{
	display: block;
}
.jbzoo-view-category .subcategories .subcategory h2.subcategory-title{
	margin: 5px 0;
}
.jbzoo-view-category .subcategories .subcategory h2.subcategory-title a{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font: 18px/22px Arial, Verdana, sans-serif;
}

/* Close JBZoo Subcategory */

/* JBZoo Subcategory Item */

.jbzoo .items .column{
	margin-right: 13px;
}
.items .column .jbzoo-item-teaser{
	text-align: center;
}
.items .column .jbzoo-item-teaser .item-image, .items .column .jbzoo-item-teaser .item-image a img{
	float: none;
	margin: 0;
}
.items .column .jbzoo-item-teaser .product-props .item-title{
	margin: 7px 0;
}
.items .column .jbzoo-item-teaser .product-props .item-title a{
	vertical-align: middle;
	display: table-cell;
}
.items .column .jbzoo-item-teaser p{
	margin: 0;
	padding: 0;
}
.jbprice-advance{
	display: none;
}
.items .column .jbzoo-item-teaser .element-itemlink a{
	background: #FFFFFF;
    background: -moz-linear-gradient(50% 0 , #FFFFFF, #EBEBEB 70%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #C8C8C8 #C8C8C8 #AAAAAA;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #323232 !important;
    cursor: pointer;
    display: inline-block;
    font: 12px Arial,sans-serif;
    padding: 3px 4px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}
.items .column .jbzoo-item-teaser .element-itemlink a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	background: #E1E1E1;
    background: -moz-linear-gradient(50% 0 , #E1E1E1, #F5F5F5 96%, #FFFFFF 96%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #AAAAAA #C8C8C8 #C8C8C8;
    border-image: none;
    border-right: 1px solid #C8C8C8;
    border-style: solid;
    border-width: 1px;
    color: #404040;
    text-shadow: 0 -1px 0 #FFFFFF;
}
.items .column .jbzoo-item-teaser .element-textarea{
	display: none;
}
.jbzoo-view-category .column.rborder.width100 .jbzoo-item-teaser .product-props{
	float: right;
	width: 73%;
	position: relative;
}
.items .column.width100 .jbzoo-item-teaser .element-textarea{
	display: block;
}
.items .column.width100 .jbzoo-item-teaser h4.item-title{
	text-align: left;
}
.jbzoo-view-category .column.rborder.width100 .jbzoo-item-teaser .item-image img{
	float: left !important;
    width: 180px;
    height: 180px;
}
.jbzoo-view-category .column.rborder.width100 .jbzoo-item-teaser{
	position: relative;
}
.jbzoo-view-category .column.rborder.width100 .jbzoo-item-teaser .item-image{
	float: left !important;
}
.jbzoo-view-category .column .jbzoo-item-teaser .item-image img:hover{
	opacity: 1;
}
.jbzoo-view-category .column.rborder.width100 .jbzoo-item-teaser .item-title{
	border-bottom: 1px solid rgba(201,201,201,.5);
	padding: 0 0 10px 20px;
	margin: 0 0 7px;
}
.jbzoo-view-category .column.rborder.width100 .jbzoo-item-teaser .item-title a{
	font: italic 25px/29px georgia, Verdana, sans-serif;
}
.jbzoo-view-category .column.rborder.width100 .jbzoo-item-teaser .product-props .element-itemlink{
	display: none;
}
.jbzoo-item-teaser .product-props .element-rating, .jbzoo-item-teaser .product-props .element-jbfavorite{
	display: none;
}
.items .column.width100 .jbzoo-item-teaser .element-rating{
	position: relative;
	top: 5px;
}
.jbzoo-view-category .column.rborder.width100 .jbzoo-item-teaser .product-props .element-textarea{
	text-align: left;
	word-wrap: break-word;
}
.jbzoo-view-category .column.rborder.width100 .jbzoo-item-teaser .product-props .element-textarea i{
	font-style: normal;
}
.jbzoo-view-category .column.rborder.width100 .jbzoo-item-teaser .product-props .jsJBPriceAdvance.jbprice-advance span{
	font-weight: bold !important;
	font-family: georgia;
	font-style: italic;
	font-size: 20px !important;
}
.jbzoo-view-category .column.rborder.width100 .jbprice-advance{
	display: block;
}
.jbzoo-item .product-props > ul{
	float: right;
}
.jbzoo-view-category .column.rborder.width100 .jbzoo-item .product-props > ul{
	padding-top: 7px;
	margin-top: 7px;
	border-top: 1px solid rgba(201,201,201, .5);
	float: none;
	text-align: right;
}
.jbzoo-view-category .column.rborder.width100 .jbzoo-item .product-props > ul > li{
	display: inline-block;
}
.jbzoo-item .product-props > ul > li  .wrapper-jbfavorite a{
	margin: 0;
}
.yoo-zoo.rating div.rating-container{
	display: inline-block;
}
.jbzoo-item .jbquickview-modal-window{
	margin: 0;
}
.jbzoo-view-category .column.rborder.width100 .jbzoo-item .jbquickview-modal-window, .jbzoo-view-category .column.rborder.width100 .jbzoo-item .wrapper-jbfavorite a, .jbzoo-view-category .column.rborder.width100 .jbprice-buttons a{
	padding: 5.5px 5px;
}
.jbzoo-item-teaser ul li, .jbzoo-item-teaser ol li{
    list-style: none;
}
.jbzoo-view-category .category .description-full{
    margin-top: 10px;
}

/* Close JBZoo Subcategory Item */

/* JBZoo Full Item */

.jbzoo-item-full .itemImage {
    float: left;
}
.jbzoo-item-full .itemImage .item-image{
    margin: 0;
}
.jbzoo-item-full .itemImage .item-image > div{
    margin: 0;
	float: none;
	padding: 7px;
}
.jbzoo-item-full .itemImage .item-image > div a{
    display: block;
}
.jbzoo-item-full .item-image > div a img{
    margin: 0px;
	float: none;
	border: 4px solid rgba(201, 201, 201, 0.7);
}
.jbzoo-item-full .item-image:hover > div a img{
	border-color: rgba(0, 153, 0, 0.7);
}
.jbzoo-item-full .itemImage{
	display: none;
	width: 259px;
}
.jbzoo-item-full .itemImage .item-image{
    border: 1px solid rgba(201,201,201,.5);
}
.itemInfo{
    width: 610px;
    float: right;
}
.jbzoo-item-full .item-meta p{
	margin: 0;
}
.jbzoo-item-full .jbprice-advance{
	display: block;
}
.jbzoo-item-full .jbprice-advance > div{
	float: left;
	margin-right: 15px;
}
.jbzoo-item-full .jbprice-advance > div.clear.clr{
	float: none;
}
.jbzoo-item-full .jbprice-buttons a{
    display: block;
    margin-bottom: 7px;
}
.itemPriceTotal{
    float: left;
	margin-right: 5px;
}
.itemPrice > p{
	margin-bottom: 4px !important;
}
.jbzoo-item-full .wrapper-jbcompare, .jbzoo-item-full .wrapper-jbfavorite, .jbzoo-item-full .yoo-zoo.rating{
	float: left;
	margin-right: 5px;
	margin-top: 5px;
    font-size: 11px;
}
.jbzoo-item .rborder.item-body .jbprice-advance{
    border-bottom: 1px solid rgba(201,201,201,.5);
}
.jbzoo .jbprice-currency-list, .jbzoo .jbprice-balance, .jbzoo .jbprice-selects, .jbzoo .jbprice-count, .jbzoo .jbprice-buttons, .jbzoo .jbprice-description, .jbzoo .jbprice-price, .jbzoo .count-value-wrapper, .jbzoo .jbprice-sku, .jbprice-buttons > a{
	margin: 0;
}
.jbprice-count label > div > p{
    margin-bottom: 5px;
}
.jbzoo .jbprice-count input{
    width: 84px !important;
    max-width: 100% !important;
}
.itemPriceTotal > span{
    display: block;
}
.jbprice-buttons > a:last-child{
    margin-bottom: 0;
}
.jbzoo .jbprice-count input{
    height: 20px !important;
    line-height: 20px;
}
.jbprice-count, .jbprice-count div p{
    display: inline-block;
}
.jsRemoveQuantity.btn-mini.minus{
    margin-left: 0;
    margin-right: 6px;
}
.item-image-gallary > .item-image-gallery-slider .sliderDiv div.slideImg{
	float: left;
}
.item-image-gallary{
    border: 1px solid rgba(201, 201, 201, 0.5);
    display: inline-block;
    padding: 9px 0 9px 9px;
	width: 263px !important;
	position: relative;
	margin-top: 7px;
}
.item-image-gallary img{
	width: 113px;
	height: 113px;
	margin-right: 1em;
	border: 4px solid rgba(201,201,201,.7);
}
.item-image-gallary img:hover{
	border-color: rgba(000,153,000,.7);
}
.jbzoo .item-image-gallary a:hover img{
	opacity: 1;
}
.slidecontrols li {
	text-indent: -9999px;
	list-style: none;
	
}
.slidecontrols li a{
	height: 38px;
	width: 24px;
	display: block;
	top: 42%;
	position: absolute;
	display: none;
}
.slidecontrols li a.carousel-next{
	background: url("");
	right: 11px;
}
.slidecontrols li a.carousel-prev{
	background: url("");
	left: 9px;
}
.slidecontrols li a:hover{
	opacity: 0.8;
}
.item-image-gallary:hover .slidecontrols li a{
	display: block;
}

/* Close JBZoo Full Item */

/* JBZoo Favorite Item */

.jbzoo-view-favorite .product-props {
    float: right;
    position: relative;
    width: 76%;
}
.jbzoo-view-favorite h1.title{
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    margin-bottom: 1em;
    padding: 10px;
    font: italic bold 22px/26px georgia,Verdana,sans-serif;
    text-transform: uppercase;
}
.jbzoo-view-favorite ul.item-properties{
    list-style: none;
    padding: 7px;
    border: 1px solid rgba(201, 201, 201, 0.5);
    display: none;
}
.jbzoo-view-favorite .item-image{
    float: left !important;
	margin: 0 !important;
    border: 1px solid rgba(201, 201, 201, 0.5);
    clear: both;
}
.jbzoo-view-favorite .item-image img{
    margin: 0;
}
.jbzoo-view-favorite .item-title{
    border-bottom: 1px solid rgba(201, 201, 201, 0.5);
    margin: 0 0 7px;
    padding: 0 0 10px 20px;
}
.jbzoo-view-favorite .item-title a{
	font: italic 25px/29px georgia,Verdana,sans-serif;
}
.jbzoo-view-favorite .element-textarea{
	border-bottom: 1px solid rgba(201, 201, 201, 0.5);
	margin-bottom: 5px;
}
.jbzoo-view-favorite .item-metadata{
	text-align: right;
}
.jbzoo-view-favorite .item-metadata li{
	display: inline-block;
}
.jbzoo-view-favorite .jbprice-advance{
	display: block;
}
.jbzoo-view-favorite .element-rating{
	position: relative;
	top: 5px;
}
.jbzoo-view-favorite .jbbutton{
	float: none !important;
	margin-right: 3px;
}

/* Close JBZoo Favorite Item */














/* JBZoo */

#yoo-zoo ul, #yoo-zoo ol{
	list-style-position: inside;
}
#yoo-zoo ul li{
	line-height: inherit;
}
#yoo-zoo span{
	font-weight: normal;
}
#yoo-zoo p{
    padding: 0;
}
.itemTitle h1, #yoo-zoo .category h1.title{
    text-transform: uppercase;
    font: bold italic 22px/26px georgia, Verdana, sans-serif;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(201,201,201,.5);
    margin-bottom: 10px;
    background: none;
}
#yoo-zoo .category h1.title{
	margin-bottom: 0;
    padding: 0;
}
.itemTitle h2 a{
    color: #6A6969;
    text-transform: uppercase;
    font: bold italic 22px/26px georgia, Verdana, sans-serif;
}
.itemTitle h2{
    margin-bottom: 10px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(201,201,201,.5);
}
.item-anons{
    padding: 7px 0 0 0;
    border-bottom: 1px solid rgba(201,201,201,.5);
    margin-bottom: 7px;
    word-wrap: break-word;
}
.jbzoo-item .rborder.item-body{
    padding: 7px;
    border-radius: 0;
}
.jbzootabs-content{
    word-wrap: break-word;
}
.itemMeta{
    border: 1px solid rgba(201,201,201,.5);
    padding: 7px;
    display: none;
}
.jbzootabs{
    border-radius: 0 !important;
    margin: 0;
    padding: 0;
}
.element-jbsocial{
    display: inline-block;
    margin-top: 10px;
}
.jbzoo a.empty-cart{
    text-decoration: none;
    display: none;
    border: 1px solid #5A8200;
    border-bottom-color: #325000;
    -webkit-border-radius: 3px;
    background: #8CBE32;
    background: -moz-linear-gradient(50% 0%, #aff532, #9bd732 1px, #6e912d);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#aff532), to(#6e912d), color-stop(5%, #9bd732));
    border-radius: 3px;
    font-size: 12px;
    line-height: 14px;
    font: 12px Arial, sans-serif;
    cursor: pointer;
    padding: 4px 6px;
    cursor: pointer;
    color: #ffffff !important;
    float: left;
}
.jbzoo a.empty-cart:hover{
    border: 1px solid #5a8200;
    border-top-color: #4b7800;
    background: #78a032;
    background: -moz-linear-gradient(50% 0%, #78a032, #9bd732 90%);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#78a032), to(#9bd732), color-stop(90%, #9bd732));
}
.add-to-cart{
    float: right;
}
.add-to-cart, .jbzoo a.empty-cart{
    margin: 0 !important;
    display: block !important;
}
.jbzoo .jbprice-selects select, .jbzoo .jbprice-selects option{
    height: 100%;
    padding: 0;
}
.jbzootabs .jbzootabs-nav.jbzootabs-header{
    border-radius: 0;
    width: 100%;
    padding: 0 !important;
    border: none;
}
.jbzootabs li{
    border-radius: 0 !important;
}
.jbzootabs li.jbzootabs-active a{
    color: #6A6969 !important;
}
#yoo-zoo .category h1.title{
    border-bottom: none;
    padding-bottom: 0;
}
#yoo-zoo .items .column .jbzoo-item-teaser .jbprice-price .total{
    font-weight: normal;
    font-size: 1em;
}
.jsParamDesc{
    min-width: 123px !important;
    margin-bottom: 1em;
    text-transform: uppercase;
}
.jsParamDesc option{
    padding-left: 5px;
    text-transform: uppercase;
}
#yoo-zoo .subcategories .subcategory{
    text-align: center;
}
#yoo-zoo .subcategories .subcategory div.subcategory-items{
    display: none;
    visibility: hidden;
}
.main .moduletable_news{
	margin-bottom: 15px;
}
.main .moduletable_news div.sets{
	height: 100% !important;
}
.main .moduletable_news div.sets ul.set{
	transform: none !important;
	width: 1024px !important;
}
.main .moduletable_news div.sets ul.set li{
	width: 186px;
	border: 1px solid rgba(201,201,201,.5);
	padding: 10px;
}
.main .moduletable_news div.sets ul.set > div{
	display: inline-block !important;
	border: 1px solid rgba(201,201,201,.5);
	padding: 10px;
	margin-right: 14px;
	width: 168px;
}
.main .moduletable_news div.sets ul.set > div:last-child{
	margin-right: 0 !important;
}
.wk-zoo-item h3.title{
	min-height: 36px;
	font-style: italic;
	font-family: georgia;
	font-size: 17px;
	line-height: 18px;
	margin-top: 4px;
}
.wk-zoo-item div.media-left{
	float: none;
}
.wk-zoo-item a img{
	display: inline-block !important;
}
.main .moduletable_news  .title_news h3{
	 background: none repeat scroll 0 0 #FFFFFF;
    border-color: #DEDDDD #DEDDDD -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    color: #494848;
    float: left;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: -1px;
    min-width: 161px;
    padding: 10px 14px;
    text-transform: uppercase;
}
.main .moduletable_news .title_news{
	border-bottom: 1px solid #DEDDDD;
    margin: 0 0 15px;
	display: inline-block;
	width: 100%;
}
.main .moduletable_news div.sets ul.set > div p.links span{
	background: #F2F1F1;
	background: -moz-linear-gradient(center top , #FFFFFF, #F2F1F1) repeat scroll 0 0 transparent;
    border: 1px solid #DEDDDD;
    color: #494848;
    font: 11px/33px Tahoma,Geneva,sans-serif;
    height: 33px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
	padding: 10px;
}
.main .moduletable_news div.sets ul.set > div p.links span:hover{
	background: #3B3B3B;
	background: -moz-linear-gradient(center top , #515050, #3B3B3B) repeat scroll 0 0 transparent;
    border: 1px solid #2F2F2F;
}
.main .moduletable_news div.sets ul.set > div p.links span:hover a{
	color: white;
}
.main .moduletable_news div.sets ul.set > div p.links span a:after{
	content: none;
}
.wk-slideset-default > div:hover .next{
	right: -17px;
}
.wk-slideset-default > div:hover .prev{
	left: -17px;
}
.wk-slideset-default > div .next, .wk-slideset-default > div .prev{
	display: block;
	background: url("") no-repeat scroll 0 0 transparent;
	height: 26px;
	width: 13px;
	top: 42%;
}
.wk-slideset-default > div .next{
	right: -17px;
}
.wk-slideset-default > div .prev{
	left: -17px;
}
.wk-slideset-default > div .next{
	background-position: -13px 0;
}

.wk-slideset-default > div:hover .next, .wk-slideset-default > div:hover .prev{
	display: block;
	background: url("") no-repeat scroll 0 0 transparent;
	height: 26px;
	width: 13px;
}
.wk-slideset-default > div:hover .next{
	background-position: -13px 0;
}
.jbzoo .width100{
	width: 100%;
}
.categories-render{
	position: absolute;
	top: 13px;
	right: 10px;
}
.jbzoo-view-category .category.rborder{
	position: relative;
}
.categories-render span{
	width: 23px;
	height: 22px;
	margin-right: 10px;
	display: block;
	float: left;
	text-align: center;
	background: url("");
	text-indent: -9999px;
	background-position: -1px -1px;
	cursor: pointer;
}
.categories-render span:last-child{
	margin-right: 0;
}
.categories-render span.categories-render-1{
	background-position: 24px 23px;
}
.categories-render span.categories-render-1:hover{
	background-position: 24px -1px;
}
.categories-render span.categories-render-3{
	background-position: -1px 23px;
}
.categories-render span.categories-render-3:hover{
	background-position: -1px -1px;
}
.jbzoo .subcategories .column, .jbzoo .related-items .column{
	margin-right: 2%;
}

/* Close JBZoo */