
/*--------------------------------------------
--	Default theme Menu Accordeon CK			--
--	This is a blank theme with annotations	--
--	you can fill it like you want			--
--	to put your own CSS						--
--------------------------------------------*/


/* main UL container */
ul#accordeonck90 {

}

/* style for all links */
ul#accordeonck90 li {
	background: none;
}

/* style for all anchors */
ul#accordeonck90 li a {
	background: none;
}

/* style for all link descriptions */
ul#accordeonck90 li a span.accordeonckdesc {
	display: block;
}

/*--------------------
--	Level 1			--
---------------------*/

/* first level (root) link */
ul#accordeonck90 li.level1 {

}

/* first level (root) link anchor */
ul#accordeonck90 li.level1 > a {

}

/* first level (root) link description */
ul#accordeonck90 li.level1 > a span.accordeonckdesc {

}

/*--------------------
--	Level 2			--
---------------------*/

/* second level link */
ul#accordeonck90 li.level2 {

}

/* second level link anchor */
ul#accordeonck90 li.level2 > a {

}

/* second level link description */
ul#accordeonck90 li.level2 > a span.accordeonckdesc {

}

/*--------------------
--	Level 3 and more --
---------------------*/

/* third and deeper level link */
ul#accordeonck90 li.level2 li {

}

/* third and deeper link anchor */
ul#accordeonck90 li.level3 a {

}

/* third and deeper link description */
ul#accordeonck90 li.level3 a span.accordeonckdesc {

}
