body{
	color: #313131;
}
p{
	margin-bottom: 11px;
}
.quick-access{
	margin-left: 7px;
}
#content{
	float: left;
	width: 900px;
	margin-right: 20px;
    font-size: 14px;
}
#right{
	float: left;
	width: 250px;
}
h2.art-postheader, #right .moduletable h3{
 border-bottom: 1px solid #313131;
    color: #155A9F;
    font: bold 22px/24px arial,sans-serif;
    padding-bottom: 7px;
    text-transform: uppercase;
}
.accordeonck > ul{
	background: none !important;
	border-radius: 0 !important;
	border: none !important;
	padding: 0 !important;
	box-shadow: none !important;
}
.accordeonck ul li a{
	display: block;
	line-height: 25px;
}
.accordeonck ul li a{
	transition: all 0.5s;
}
.accordeonck ul li.level1 > ul{
	padding-left: 15px !important;
}
.accordeonck ul li.level1 > ul li{
	border-bottom: 1px solid rgba(201,201,201, .7);
}
.accordeonck ul li.level1 > ul li:last-child{
	border-bottom: none;
}
.banner-block.page .span4{
	width: 170px;
}
.banner-title{
	padding: 7px 0;
	font-size: 13px;
    text-transform: none;   
    line-height: 16px; 
}
.block-cart-header:before{
	background: url("phone.png") no-repeat;
    left: -15px;
    top: 20px;
}
.block-cart-header{
	position: absolute;
	top: 70px;
	right: 20px;
    padding-left: 45px;
	height: 50px;
	margin: 0;
}
.block-cart-header .empty{
	font: 25px/35px georgia, Verdana, sans-serif;
	text-transform: uppercase;
	margin: 20px 0 0 0;
}
.cart-content{
	font: 12px/17px georgia, Verdana, sans-serif;
	min-width: 200px !important;
}
.block-cart-header .amount-2, .block-cart-header .empty{
	background: none;
	padding: 0;
}
.footer-container{
	padding: 20px 0;
}
.footer-row{
	margin-top: 20px;
}
.footer-container{
	background: url("footer.jpg") no-repeat scroll center bottom #155A9F;
}
.header-container{
    margin-bottom: 0;
}
.banner-block{
    margin: 20px 0 0;
    height: 180px;
}
.fluid_container_wrap{
    margin-bottom: 0;
}
.main-container{
    padding: 0 0 20px;
    margin-top: 20px;
}
.wk-content > img, .wk-content > a > img{
    width: 211px;
    height: 155px;
}
.sf-menu > li > a > span{
    font-size: 15px;
}
#search_mini_form{
    width: 213px;
}#userForm table {
	border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: 100%;
}
#userForm table tr, #userForm table td, #userForm table th{
	border: none;
}
#userForm .componentheading{
	font-style: italic;
	font-family: georgia;
	font-size: 18px;
	margin-bottom: 10px;
}
#userForm input, #userForm textarea{
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #414141;
    color: #9B9B9B;
    padding: 9px 6px 8px 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    text-indent: 0;
}
#userForm input{
    width: 200px;
}
#userForm textarea{
    width: 300px;
    height: 150px;
    box-shadow: none;
}
#Send{
    background-color: red;
    width: inherit !important;
    color: #FFFFFF !important;
    display: block;
    font: 13px Georgia;
    letter-spacing: 1px;
    margin-top: 10px;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
    cursor: pointer;
}
#Send:hover{
    background-color: #ff3a3a;
}
#btl-panel-login{
    margin-right: 10px !important;
}
.btl-panel > span{
    background-color: #155A9F !important;
}
.pagination{
	text-align: center;
}
.pagination p.counter{
	color: #000000;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
}
.pagination ul{
	border-top: 1px solid rgba(201,201,201,.4);
    margin: 10px 0 0;
    padding: 10px 0 0;
    text-align: center;
    width: 100%;
}
.pagination ul li{
	display: inline-block;
	margin-right: 10px;
}
.pagination ul li:last-child{
	margin-left: 0;
}
.pagination ul li span{
	cursor: text !important;
}
div.pagination ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #c5c5c5;
}
div.pagination ul li a:hover{
    color: #E5C043;
}
.pagination-start {
    margin-right: 20px !important;
}
.pagination-end {
    margin-left: 10px !important;
}
.pagination-start span, .pagination-next span, .pagination-end span, .pagination-start a, .pagination-next a, .pagination-end a{
	border: none !important;
}
div.pagination ul li a, div.pagination ul li span, .pagination-prev span, .pagination-prev a {
    border-right: 1px solid #E5E5E5;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    height: 14px !important;
    line-height: 14px;
    margin: 2px;
    padding: 0 15px 0 5px;
}
.box li a, .box_text li a {
    text-decoration: none;
}
.box a, .box_text a {
    text-decoration: none;
}
.pagination-start span, .pagination-next span, .pagination-end span, .pagination-start a, .pagination-next a, .pagination-end a {
    border: medium none !important;
}
h2.art-postheader{
    border-bottom: none!important;
}
#phocagallery .pg-cats-name, #phocagallery .pg-name, #phocagallery-statistics .pg-name {
    color: #CC0000;
    font-weight: bold;
    margin: 1px 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #FFFFFF;
    text-transform: uppercase;
}
#phocagallery .star-rating-small {
    margin: 1px 10px;
}
#phocagallery .pg-cats-name.small {
    background: url("") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
    float: right;
    margin-top: -30px;
    padding-left: 20px;
}
#phocagallery .pg-cats-name.medium {
    background: url("") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
    float: right;
    margin-bottom: 5px;
    padding-left: 20px;
}
#phocagallery .pg-cats-name a:link, #phocagallery .pg-cats-name a:focus, #phocagallery .pg-cats-name a:visited, #phocagallery .pg-cats-name a {
    color: #CC0000;
    text-decoration: none;
}
#phocagallery .detail, #phocagallery-statistics .detail {
    margin: 1px 10px;
}
.pg-category-view .pg-cats-box-float {
    width: 33%;
}
#phocagallery .pg-cats-box, #phocagallery .phocagallery-box-file.pg-box-backbtn, #phocagallery .phocagallery-box-file.pg-box-subfolder, #phocagallery .phocagallery-box-file.pg-box-parentfolder, #phocagallery .phocagallery-box-file.pg-box-image, #phocagallery-statistics .phocagallery-box-file.pg-box-mv, #phocagallery-statistics .phocagallery-box-file.pg-box-la {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 0 10px 8px #F3F3F3 inset, 2px 2px 2px 1px #C0C0C0;
    margin: 7px;
    padding: 3px;
    text-align: center;
    transition: all 1s ease-in-out 0s;
}
#phocagallery .pg-cats-box.small, #phocagallery #phocagallery-categories-detail.pg-cats-cv .pg-cats-box {
    text-align: left;
}
#phocagallery .pg-cats-box:hover, #phocagallery .phocagallery-box-file.pg-box-backbtn:hover, #phocagallery .phocagallery-box-file.pg-box-subfolder:hover, #phocagallery .phocagallery-box-file.pg-box-parentfolder:hover, #phocagallery .phocagallery-box-file.pg-box-image:hover, #phocagallery-statistics .phocagallery-box-file.pg-box-mv:hover, #phocagallery-statistics .phocagallery-box-file.pg-box-la:hover {
    box-shadow: 0 0 10px 8px #F3F3F3 inset, 2px 2px 2px 1px #CC0000;
}
#phocagallery-statistics a img.pg-image, #phocagallery a img.pg-image, #phocagallery a img.pg-cat-image, #phocagallery a img.pg-cats-image, #phocagallery .phocagallery-box-file-third a img.pg-image, #phocagallery .phocagallery-box-file-third a img.pg-cat-image {
    border: 0 none;
    border-radius: 2px;
    box-shadow: 0 0 2px 1px #CCCCCC;
}
#PhocaGalleryobjectPicture, .pg-detail-image {
    box-shadow: 0 0 3px 2px #CCCCCC;
}
#phocagallery .pg-cats-box-img {
    padding: 10px;
}
#phocagallery .pg-cat-tags {
    font-size: x-small;
    margin: 0 10px;
    text-align: right;
}
.bgPhocaClass {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 0 2px 1px #CCCCCC;
    z-index: 1000;
}
.fgPhocaClass {
    background: none repeat scroll 0 0 #FFFFFF;
    z-index: 1000;
}
.fontPhocaClass {
    color: #777777;
    z-index: 1001;
}
.capfontPhocaClass, .capfontclosePhocaClass {
    color: #777777;
    font-weight: bold;
    z-index: 1001;
}
.art-postcontent p.readmore a.readon{
    background: -moz-linear-gradient(50% 0 , #FFFFFF, #EBEBEB 70%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #C8C8C8 #C8C8C8 #AAAAAA;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #323232 !important;
    cursor: pointer;
    display: inline-block;
    font: 12px Arial,sans-serif;
    padding: 3px 4px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}
.art-postcontent p.readmore a.readon:hover{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	background: #E1E1E1;
    background: -moz-linear-gradient(50% 0 , #E1E1E1, #F5F5F5 96%, #FFFFFF 96%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #AAAAAA #C8C8C8 #C8C8C8;
    border-image: none;
    border-right: 1px solid #C8C8C8;
    border-style: solid;
    border-width: 1px;
    color: #404040;
    text-shadow: 0 -1px 0 #FFFFFF;
}
.btl-panel span#btl-panel-registration.btl-modal{
    display:none;
}

.header div.quick-access{
    width: 230px;
}
.header-links div#btl{
      float: left;
    width: 91px;
}

.header-links div.gforum{
    float: left;
    width: 91px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin: 2px 0;
    background-color: #155a9f !important;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    line-height: 28px;
    padding: 0 18px;
    text-indent: 0 !important;
    
    border-radius: 3px;
}
.header-links div.gforum a{
    color: #fff!important;
}

 .moduletable > h3 {
        border-bottom: 1px solid #313131;
    color: #155a9f;
    font: bold 22px/24px arial,sans-serif;
    padding-bottom: 7px;
    text-transform: uppercase;
}


#content div.moduletable hr{
    color: #eee;
    margin: 6px 0;
}


#content div.moduletable div.main div.row1 div.left b{
  color: #155a9f;  
  font-size: 17px;
}

#content div.moduletable table tbody tr td{
    font-size: 11px;
}

#content div.moduletable table tbody tr td a{
  font-size: 14px;  
}

#content div.moduletable h3{
    margin-bottom: 20px;
}
.art-post {
    margin-bottom: 20px;
}

.footer2 {
    float: right;
    margin: -40px 50px 0 0;
}




.header-links div#btl div.btl-panel {
    display: none!important;
}


#right .wk-content a img{
    width:250px!important;
    height:373px!important;
}

