/**
 * Standard Template
 * @version		$Id: style.css 995 2011-03-08 17:13:07Z happynoodleboy $
 * @package		JCE MediaBox
 * @copyright	Copyright (C) 2009 - 2010 Ryan Demmer. All rights reserved.
 * @license		GNU/GPL
 * This version may have been modified pursuant
 * to the GNU General Public License, and as distributed it includes or
 * is derivative of works licensed under the GNU General Public License or
 * other free or open source software licenses.
 */

#jcemediabox-popup-frame {
	padding: 10px;
}
#jcemediabox-popup-container {
	background-color: #ffffff;
}
#jcemediabox-popup-loader {
	background: url("") no-repeat center center;
}
#jcemediabox-popup-content {
	padding: 0 10px;
}
.jcemediabox-popup-corner-tl {
	background: url("") no-repeat left top;
	clear: both;
	height: 10px;
}
.jcemediabox-popup-corner-tr {
	background: url("") no-repeat right top;
	height: 10px;
}
.jcemediabox-popup-corner-tc {
	background-color: #ffffff;
	height: 10px;
	margin: 0 10px;
	width: auto;
}
.jcemediabox-popup-corner-bl {
	background: url("") no-repeat left bottom;
	clear: both;
	height: 10px;
}
.jcemediabox-popup-corner-br {
	background: url("") no-repeat right bottom;
	height: 10px;
}
.jcemediabox-popup-corner-bc {
	background-color: #ffffff;
	height: 10px;
	margin: 0 10px;
	width: auto;
}
#jcemediabox-popup-info-bottom {
	padding-top: 10px;
	margin-top: -20px;
}
#jcemediabox-popup-closelink {
	width: 20px;
	height: 20px;
	background: #cccccc url("") no-repeat;
	bottom: 0;
	top: 10px;
	right: 10px;
	position: relative;
	float: right;
	border: none;
}
#jcemediabox-popup-nav {
	line-height: 10px;
	padding: 10px;
	background-color: #ffffff;
}
#jcemediabox-popup-prev, #jcemediabox-popup-next {
	width: 20px;
	height: 20px;
	position: absolute;
	border: none;
	background-color: #cccccc;
	background-repeat: no-repeat;
}
#jcemediabox-popup-closelink:hover, #jcemediabox-popup-prev:hover, #jcemediabox-popup-next:hover {
	background-color: #333333;
}
#jcemediabox-popup-prev {
	background-image: url("");
	left: 10px;
}
#jcemediabox-popup-next {
	background-image: url("");
	right: 10px;
}
span#jcemediabox-popup-numbers {
	text-align:center;
	display: block;
}
span#jcemediabox-popup-numbers a {
	border: none;
	display: inline-block;
	margin: 0px 1px;
	width: 20px;
}
span#jcemediabox-popup-numbers a:active, span#jcemediabox-popup-numbers a:visited, span#jcemediabox-popup-numbers a:link, span#jcemediabox-popup-numbers a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
span#jcemediabox-popup-numbers a:hover {
	font-size: 1.2em;
}
span#jcemediabox-popup-numbers a.active {
	cursor: default;
	font-size: 1.2em;
}
#jcemediabox-popup-caption {
	padding: 10px 35px 0px 10px;
	background-color: #ffffff;
}
#jcemediabox-popup-caption h4 a:active, #jcemediabox-popup-caption p a:active, 
#jcemediabox-popup-caption h4 a:hover, #jcemediabox-popup-caption p a:hover, 
#jcemediabox-popup-caption h4 a:visited, #jcemediabox-popup-caption p a:visited,
#jcemediabox-popup-caption h4 a, #jcemediabox-popup-caption p a {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
#jcemediabox-popup-caption h4 {}
#jcemediabox-popup-caption p {}
div.jcemediabox-tooltip {
	color: #000000;
	border: 0;
	background: none;
}
div.jcemediabox-tooltip h4 {
	color: #000000;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-top-left {
	background: url("") no-repeat top left;
	clear: both;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-top-right {
	background: url("") no-repeat top right;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-top-center {
	background-color: #ffffff;
	height: 4px !important;
	margin: 0 4px;
	overflow: hidden;
	border-top: 1px solid #000000;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-middle-left {
	clear:both;
	background-color: #ffffff;
	border-left: 1px solid #000000;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-middle-right {
	background-color: #ffffff;
	border-right: 1px solid #000000;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-middle-center {
	margin: 0 4px;
	background-color: #ffffff;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-bottom-left {
	background: transparent url("") no-repeat bottom left;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-bottom-center {
	background-color: #ffffff;
	height: 4px !important;
	margin: 0 4px;
	overflow: hidden;
	border-bottom: 1px solid #000000;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-bottom-right {
	background: transparent url("") no-repeat bottom right;
}

/** IE6 **/
#jcemediabox-popup-page.ie6 #jcemediabox-popup-nav {
	height: 10px;	
}
#jcemediabox-popup-page.ie6 #jcemediabox-popup-caption { 
	margin-top: -1px;
}

div.jcemediabox-tooltip.ie6 .jcemediabox-tooltip-top-left {
	background: url("") no-repeat top left;
}
div.jcemediabox-tooltip.ie6 .jcemediabox-tooltip-top-right {
	background: url("") no-repeat top right;
}
div.jcemediabox-tooltip.ie6 .jcemediabox-tooltip-bottom-left {
	background: transparent url("") no-repeat bottom left;
}
div.jcemediabox-tooltip.ie6 .jcemediabox-tooltip-bottom-right {
	background: transparent url("") no-repeat bottom right;
}
div.jcemediabox-tooltip.ie6 .jcemediabox-popup-corner-tl {
	background: url("") no-repeat left top;
}
div.jcemediabox-tooltip.ie6 .jcemediabox-popup-corner-tc {
	overflow: hidden;	
}
div.jcemediabox-tooltip.ie6 .jcemediabox-popup-corner-tr {
	background: url("") no-repeat right top;
}
div.jcemediabox-tooltip.ie6 .jcemediabox-popup-corner-bl {
	background: url("") no-repeat left bottom;
}
div.jcemediabox-tooltip.ie6 .jcemediabox-popup-corner-bc {
	overflow: hidden;	
}
div.jcemediabox-tooltip.ie6 .jcemediabox-popup-corner-br {
	background: url("") no-repeat right bottom;
}

/** IPhone / IPad **/
#jcemediabox-popup-page.idevice .jcemediabox-popup-corner-tc, #jcemediabox-popup-page.idevice .jcemediabox-popup-corner-tr, #jcemediabox-popup-page.idevice .jcemediabox-popup-corner-bc, #jcemediabox-popup-page.idevice .jcemediabox-popup-corner-br {
	display: none;
} 

#jcemediabox-popup-page.idevice .jcemediabox-popup-corner-tl, #jcemediabox-popup-page.idevice .jcemediabox-popup-corner-bl {
	background: #ffffff none;
	width: auto;
	margin: 0;
	height: 11px;
}
#jcemediabox-popup-page.idevice .jcemediabox-popup-corner-tl {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: -1px;
}
#jcemediabox-popup-page.idevice .jcemediabox-popup-corner-bl {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: -1px;
}

#jcemediabox-popup-page.idevice #jcemediabox-popup-closelink {
	top: 10px;
}
#jcemediabox-popup-page.idevice #jcemediabox-popup-prev, #jcemediabox-popup-page.idevice #jcemediabox-popup-next {
	margin: 0;
}
#jcemediabox-popup-page.idevice #jcemediabox-popup-caption {
	margin: -1px 0;
}
#jcemediabox-popup-page.idevice #jcemediabox-popup-nav {
	margin-bottom: -1px;
}
#jcemediabox-popup-page.idevice span#jcemediabox-popup-numbers {
	margin-top: 5px;
}	
