.nav-container {
  position: relative;
  z-index: 2;
  margin-bottom: 21px;
  border-bottom: 5px solid #096db9;
  padding-bottom:0;
}
.sf-menu {
  font-size: 13px;
  line-height: 17px;
  position: relative;
  border-bottom: none;
  background: #014279;
}

.sf-menu li {
  float: left;
  text-align: left;
  position: relative;
  z-index: 99;
  margin-right: 0;
   margin-bottom: 0px;
}
.sf-menu li a {
  display: block;
  color: #fff;
  text-decoration: none;
  position: relative;
  padding: 0;
}
.sf-menu > li > a {
   border-left: 1px solid #013056;
   border-bottom: 0;
}


.sf-menu > li > a > span {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Open sans', sans-serif;
  font-size: 15.6px;
  line-height: 20px;
  font-weight: normal;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  padding: 0 19px;
  text-align: center;
  height: 59px;
  text-transform: uppercase;
}
.sf-menu li ul a span {  white-space: normal;}
.sf-menu > li.parent > a > span {  }
.sf-menu > li.parent.sfHover > a span,
.sf-menu> li.parent  > a:hover span,
.sf-menu > li.parent.active > a span { }

.sf-menu > li.sfHover > a,
.sf-menu> li > a:hover,
.sf-menu > li.active > a {
  color: #fff;
  background: #096db9;
  margin: -6px 0 0 0;
  position: relative;
}

.sf-menu > li.sfHover > a span,
.sf-menu > li > a:hover span,
.sf-menu > li.active > a span {  color: #fff; height: 65px;}
.sf-menu li a:hover {  text-decoration: none;}

.sf-menu ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
  display: none;
  background: #373737;
}
.sf-menu li li {  border-bottom: 1px solid #4b4b4b;}
.sf-menu li li.parent { background: url("") 95% 16px no-repeat;}
.sf-menu li li.last {  border-bottom: none;}
.sf-menu li li.sfHover,
.sf-menu li li,
.sf-menu li li:hover {
  float: none;
  border-right: none;
  position: relative;
}
.sf-menu li li a,
.sf-menu li.sfHover li a,
.sf-menu li.active li a {
  display:block;
  background: none;
  font-size: 14px;
  line-height: 15px;
  color: #fff;
  font-weight: normal;
  padding: 7px 9px;
  font-family: 'Open sans', sans-serif;
}
.sf-menu li li > a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.active > a {  background: #242424;}

.sf-menu ul ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 0px;
  top: 64px;
  /* match top ul list item height */
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
@media only screen and (min-width: 979px) {
    #menu-icon,
    .sf-menu-phone {  display: none !important;}
}
@media only screen and (max-width: 979px) {
  .sf-menu,
  .sf-menu-phone {display: none;}
  /* menu icon */
  #menu-icon {
    display: block;
    background: url("") 95% 18px no-repeat;
    background-color: #014279;
    border-bottom: none;
    font-family: 'Open sans',sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    text-transform: none;
    padding: 13px 0 13px 20px;
    height: 33px;
    position: relative;
    margin: 0 10px;
  }

  #menu-icon.active { background-position: 95% -40px;  }

  .sf-menu-phone {
    background: #373737;
    position: relative;
    padding: 0;
    z-index: 2;
    margin: 2px 10px 0 10px;
  }
  .sf-menu-phone li {  position: relative; font-size: 14px; font-family: 'Open sans', sans-serif;  }
  .sf-menu-phone > li {    }
  .sf-menu-phone > li > a {display: block; }
  .sf-menu-phone li a { display: block; padding: 10px; border-bottom: 1px solid #4b4b4b; font-weight: normal;  color: #fff;  }
  .sf-menu-phone li a:hover { background: #242424 }
  .sf-menu-phone li li {font-size: 13px; padding: 0;}
  .sf-menu-phone li li.last { padding-bottom: 0 !important;  }
  .sf-menu-phone li strong {
    position: absolute;
    display: block;
    background: url("") center -54px no-repeat;
    top: 4px;
    right: 0;
    height: 24px;
    width: 24px;
  }
  .sf-menu-phone > li > strong {top: 8px; right: 10px;}
  .sf-menu-phone li strong:hover { cursor: pointer; }
  .sf-menu-phone li strong.opened { background-position: center 7px; }

  /* dropdown */
  .sf-menu-phone ul {  width: auto;  padding:0 20px 10px 20px;  display: none;  }
  .sf-menu-phone > li.active > a > span {color: inherit;}
  .sf-menu-phone > li.active > a,
  .sf-menu-phone > li > a:hover { color: #fff;  }

  .sf-menu-phone li li.active > a,
  .sf-menu-phone li li a:hover {color: #fff;}
}



@media only screen and (min-width: 978px) and (max-width: 1200px) {
  .sf-menu > li > a > span{ font-size: 14px; padding:0 12px; }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {

    #menu-icon,
    .sf-menu-phone {margin-left: 0; margin-right: 0;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
